*{
    margin: 0;
    padding: 0;
}

body{
    background: #bdc3c7;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to bottom, #2c3e50, #bdc3c7);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to bottom, #2c3e50, #bdc3c7); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background-attachment: fixed;
}

main{
    max-width: 20rem;
    max-height: 40rem;
    height: 40rem;
    margin: 0 auto;
}

footer{
    background-color: black;
    color: white;
    width: 100%;
    margin-top: 2rem;
    text-align: center;
}

:root{
    --red-color: rgb(255, 59, 48);
}

/*  */

.layout-container{
    margin: 2rem auto;
    height: 100%;
    width: 100%;
}

.input{
    background-color: #ffffff10;
    backdrop-filter: blur(0.75rem);
    -webkit-backdrop-filter: blur(0.75rem);
    display: grid;
    grid-template-columns: auto auto;
    place-content: center;
    column-gap: 1rem;
    padding: 2rem;
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
}

#searchBox{
    font-size: 1rem;
    border-style: none;
    border-radius: 2rem;
    padding: 0.5rem;
}

#submitBtn{
    font-size: 1rem;
    border-style: none;
    border-radius: 1rem;
    padding: 0.5rem;
}

.result-container{
    background-color: #ffffff10;
    backdrop-filter: blur(0.75rem);
    -webkit-backdrop-filter: blur(0.75rem);
    height: 24rem;
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap:nowrap;
}

.result-1{
    background-color: white;
    border-radius: 1rem;
    max-width: 10rem;
    max-height: 24rem;
    width: 100%;
    font-size: 0.5rem;
    padding: 0.5rem;
    margin: 0.5rem;
}

.result-2{
    background-color: white;
    border-radius: 1rem;
    max-width: 10rem;
    max-height: 24rem;
    width: 100%;
    font-size: 0.5rem;
    padding: 0.5rem;
    margin: 0.5rem;
}

.compare-container{
    background-color: #ffffff10;
    backdrop-filter: blur(0.75rem);
    -webkit-backdrop-filter: blur(0.75rem);
    height: 9.25rem;
    width: 100%;
    border-bottom-left-radius: 1rem;
    border-bottom-right-radius: 1rem;
    display: flex;
    justify-content: center;
}

.compare-text{
    background-color: white;
    width: 100%;
    font-size: 0.75rem; 
    padding: 0.5rem;
    margin: 0.5rem;
    border-radius: 1rem;
}

.compare-header{
    text-align: center;
}

.compare-info{
    font-size: 0.7rem;
}

@media screen and (min-width: 1300px) {
    footer {
      position: absolute;
      bottom: 0%;
    }
  }
